<div class="conteudo">
    <div class="title d-flex justify-content-between">

        <h3>Melhores Ofertas</h3>
        <button>Todos</button>
    </div>
    <div class="bloco d-flex gap-4">
        <div class="bloco-item rounded d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/cadeira.png" alt="">
            <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
        </div>
        <div class="bloco-item rounded d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/cadeira.png" alt="">
            <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
        </div>
        <div class="bloco-item rounded d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/cadeira.png" alt="">
            <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
        </div>
        <div class="bloco-item rounded d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/cadeira.png" alt="">
            <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
        </div>
        <div class="bloco-item rounded d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/cadeira.png" alt="">
            <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
        </div>
        <div class="bloco-item rounded d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/cadeira.png" alt="">
            <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
        </div>
    </div>
</div>