.conteudo{
    padding-inline: 3rem;
}

.banner{
    height: 400px;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.barra-info,
.categoria,
.itens-promocao{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel {
    width: 1000px;
    height: 200px;
    overflow: hidden;
}

