
.banner{
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
    padding: 1rem;
}

.container{
    margin-top: 1rem;
    padding: 0;
}

.carousel {
    width: 1000px;
    height: 200px;
    overflow: hidden;
}