<header>
    <app-navbar />
</header>
<main>
    <section class="banner">
        <div id="carouselExample" class="carousel slide mx-auto">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/canvaai.webp" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/canvaai.webp" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/canvaai.webp" class="d-block w-100" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <br>
    <section class="vendas">
        <div class="vendas-produtos">
            <h2>Produtos</h2>
            <div class="produtos row">
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Teclado Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mouse Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Carregador Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
            </div>
            <br>
            <h2>Serviços</h2>
            <div class="produtos row">
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sites Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Aplicativos Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blog Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
            </div>
            <br>
            <h2>Cursos</h2>
            <div class="produtos row">
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Angular Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bootstrap Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
                <div class="card col" style="width: 18rem;">
                    <img src="../../../assets/tech-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Biblia Tech</h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Carrinho</a>
                      <a href="#" class="card-link">Compre</a>
                    </div>
                  </div>
            </div>
        </div>

    </section>
</main>