<div class="conteudo">
    <h3>Top Categorias</h3>
    <div class="bloco d-flex justify-content-between align-items-center">
        
        <div class="bloco-seta text-center">
            <p><i class="fa-solid fa-chevron-left"></i></p>
        </div>
        <div class="bloco-categoria d-flex gap-4">
            <div class="bloco-item rounded ">
                <div class="bloco-img rounded-5">
                    <img src="../../../assets/cadeira.png" alt="">
                </div>
                <h5 class="text-center pt-3 pb-1">Cadeiras</h5>
            </div>
            <div class="bloco-item rounded">
                <div class="bloco-img rounded-5">
                    <img src="../../../assets/mouse.png" alt="">
                </div>
                <h5 class="text-center pt-3 pb-1">Mouses</h5>
            </div>
            <div class="bloco-item rounded">
                <div class="bloco-img rounded-5">
                    <img src="../../../assets/PS5.png" alt="">
                </div>
                <h5 class="text-center pt-3 pb-1">Jogos</h5>
            </div>
            <div class="bloco-item rounded">
                <div class="bloco-img rounded-5">
                    <img src="../../../assets/monitor.png" alt="">
                </div>
                <h5 class="text-center pt-3 pb-1">Monitores</h5>
            </div>
            <div class="bloco-item rounded">
                <div class="bloco-img rounded-5">
                    <img class="p-3" src="../../../assets/foguete.png" alt="">
                </div>
                <h5 class="text-center pt-3 pb-1">Acessórios</h5>
            </div>
            <div class="bloco-item rounded">
                <div class="bloco-img rounded-5">
                    <img class="p-4" src="../../../assets/among.png" alt="">
                </div>
                <h5 class="text-center pt-3 pb-1">Gift-Card</h5>
            </div>
        </div>
        <div class="bloco-seta text-center">
            <p><i class="fa-solid fa-chevron-right"></i></p>
        </div>
    </div>
</div>
