<div class="row custom-height g-0">

    <div class="col pe-3">
        <div class="h-100 bg-primary rounded">
            <h3>AppleShopping Event</h3>
            <p>Shop great deals on MacBook, iPad, iPhone and more</p>
            <a href="#">Shop Now</a>
        </div>
    </div>

    <div class="col p-0 d-flex flex-column">
        <div class="bg-success mb-3 flex-grow-1 rounded">
            <h3>AppleShopping Event</h3>
            <p>Shop great deals on MacBook, iPad, iPhone and more</p>
            <a href="#">Shop Now</a>
        </div>
        <div class="row g-0 flex-grow-1">
            <div class="col me-3 bg-warning rounded">
                Bloco 3 (Direita Inferior Esquerda)
            </div>
            <div class="col bg-danger rounded">
                Bloco 4 (Direita Inferior Direita)
            </div>
        </div>
    </div>
</div>