<div class="container">
  <div class="vendas-produtos row" *ngFor="let cont of produtos.conteudo">

    <h2>{{cont.titulo}}</h2>
    <div class="produtos col" *ngFor="let item of cont.itens" style="width: 12rem;">
      <div class="card conteudo-produto" style="width: 15rem;">
        <a [routerLink]="['/produto', cont.id, item.id]">
        <img src="{{item.imagem}}" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
          </div>

        </a>
          <div class="card-body">
            <a routerLink="/carrinho" class="card-link">{{produtos.carrinho}}</a>
            <a routerLink="/pagamento" class="card-link">{{produtos.compre}}</a>
          </div>
        </div>
    </div>
  </div>
</div>