<div class="conteudo rounded">
    <div class="row">
        <div class="col-12">
            <div class="carousel-container">
                <div class="carousel-track d-flex">
                    <div class="item p-3">
                        <p><i class="fa-solid fa-truck"></i> Frete Grátis a Partir de $50</p>
                    </div>
                    <div class="item p-3">
                        <p><i class="fa-solid fa-money-bill-1-wave"></i> Preços Imperdiveis</p>
                    </div>
                    <div class="item p-3">
                        <p><i class="fa-solid fa-shield-halved"></i> Pagamento Seguro</p>
                    </div>
                    <div class="item p-3">
                        <p><i class="fa-solid fa-fire-flame-curved"></i> Promoções</p>
                    </div>
                    <div class="item p-3">
                        <p><i class="fa-solid fa-percent"></i> Black Friday</p>
                    </div>
                               
                    
                </div>
            </div>
        </div>
    </div>
</div>